<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="it">
<head th:replace="fragments/head :: common_header(~{::title},~{})">
<title>SILPH - Ordinazione</title>

</head>
<body>

	<div class="site-wrap">

		<div th:replace="~{fragments/site_menu_mobile :: site_menu_mobile}"></div>
		<header th:replace="~{fragments/header :: header}"></header>

		<div class="content" align="center">

			<form autocomplete="off" action="#" th:action="@{/order}"
				th:object="${order}" method="post" class="form-horizontal"
				role="form">
				<h2 th:text="#{message.newOrder}"></h2>

				<div class="form-group">
					<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('firstname')}"
							th:errors="*{firstname}" class="validation-message"></label> <input
							type="text" th:field="*{firstname}" placeholder="Nome"
							class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('lastname')}"
							th:errors="*{lastname}" class="validation-message"></label> <input
							type="text" th:field="*{lastname}" placeholder="Cognome"
							class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
							class="validation-message"></label> <input type="email"
							th:field="*{email}" placeholder="E-mail" class="form-control" />
					</div>
				</div>


				<div class="form-group">
					<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('message')}"
							th:errors="*{message}" class="validation-message"></label>
						<textarea id="message" th:field="*{message}"
							th:placeholder="#{message.message}" class="form-control"> </textarea>
					</div>
				</div>


				<div class="row">

					<div th:each="photo : ${photos}" class="col-md-4" th:id="'orderPhoto' + ${photo.id} ">
						<div class="thumbnail">
							<img th:src="${photo.path}" style="width: 20%">
							<div class="caption">
								<p>
								<button type="button" class="btn btn-danger" th:onclick="'removePhotoFromOrder(' + ${photo.id} + ')'">Elimina</button>
								</p>
							</div>
						</div>
					</div>

				</div>

				<div class="form-group">
					<div class="col-sm-9">
						<button type="submit" class="btn btn-primary btn-block"
							th:text="#{message.add}">Aggiungi</button>
					</div>
				</div>

				<span th:utext="${successMessage}"></span>


			</form>

		</div>
		<script>
		
		function removePhotoFromOrder(id) {
			var url = "/order/deletePhoto/" + id;
			var obj = $('#orderPhoto' + id);
			$.get(url, function(data) {
			
				if (data) {
					obj.hide();
					getCountPhotos();
				} else {
					alert('Errore');
				}
			});
			
		}
		
		</script>
		<div th:replace="fragments/footer :: footer"></div>



	</div>


	<script>
		tinymce.init({
			selector : '#message'
		});
	</script>
</body>
</html>