<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="it">
<head th:replace="fragments/head :: common_header(~{::title},~{})">
<title>Ordinazioni</title>

</head>
<body>

	<div class="site-wrap">

		<div th:replace="~{fragments/site_menu_mobile :: site_menu_mobile}"></div>
		<header th:replace="~{fragments/header :: header}"></header>

		<div class="content" align="center">
			<table id="tableOrder" class="ui celled table" style="width: 100%">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Cognome</th>
						<th>Email</th>
						<th>Azioni</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="order : ${orders}">
						<td th:text="${order.firstname}"></td>
						<td th:text="${order.lastname}"></td>
						<td th:text="${order.email}"></td>	
						<td>
						
						<a th:href="@{'/order/' + ${order.id}}">Dettagli</a>
						
						</td>

					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th>Nome</th>
						<th>Cognome</th>
						<th>E-mail</th>
						<th>Azioni</th>
				
					</tr>
				</tfoot>
			</table>
		</div>

		<div th:replace="fragments/footer :: footer"></div>


		<script>
			$(document).ready(function() {
				$('#tableOrder').DataTable();
			});
		</script>

	</div>



</body>
</html>