<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags" lang="it">
<head th:replace="fragments/head :: common_header(~{::title},~{})">
<title>Order</title>

</head>
<body>

	<div class="site-wrap">

		<div th:replace="~{fragments/site_menu_mobile :: site_menu_mobile}"></div>
		<header th:replace="~{fragments/header :: header}"></header>

		<div class="content" align="center">
			<strong><b th:text="#{message.name}">Nome: </b></strong>
			<p th:text=${order.firstname}></p>
			<strong><b th:text="#{message.lastname}">Cognome: </b></strong>
			<p th:text="${order.lastname}"></p>
			<strong><b th:text="#{message.email}">email: </b></strong>
			<p th:text="${order.email}"></p>
			<br>
			<p th:text="${order.message}"></p>
		</div>


		<div class="row">

			<div th:each="photo : ${order.photos}" class="col-md-4">
				<div class="thumbnail">
					<img th:src="${photo.path}" style="width: 100%">
					<div class="caption">
						<p></p>
					</div>
				</div>
			</div>

		</div>

		<div th:replace="fragments/footer :: footer"></div>



	</div>


	<script>
		$(document).ready(function() {

		});

		function addPhotoToOrder(id) {
			var url = "/order/photo/" + id;
			$.get(url, function(data) {
				if (data) {
					getCountPhotos();
				} else {
					alert('Errore');
				}
			});
		}
	</script>
</body>
</html>