<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="it">
<head th:replace="fragments/head :: common_header(~{::title},~{})">
<title>Upload avatar</title>

</head>
<body onload="updateSize();">

	<div class="site-wrap">

		<div th:replace="~{fragments/site_menu_mobile :: site_menu_mobile}"></div>
		<header th:replace="~{fragments/header :: header}"></header>

		<div class="content" align="center">

				<form name="uploadingForm" enctype="multipart/form-data" th:action="@{'/author/' + ${author.id} + '/avatar'}" method="POST">
            <p>
                <input id="fileInput" type="file" name="uploadingFiles" onchange="updateSize();">
                <label th:text="#{message.selectedFiles}"></label>: <span th:text="#{message.selectedFiles}" id="fileNum">0</span>;
                 <label th:text="#{message.totalSize}"></label>: <span th:text="#{message.totalSize}" id="fileSize">0</span>
            </p>
            <p>
                
                <button type="submit" class="btn btn-primary" th:text="#{message.newPhoto}" >Upload avatar</button>
            </p>
        </form>
        
        <script>
            function updateSize() {
                var nBytes = 0,
                        oFiles = document.getElementById("fileInput").files,
                        nFiles = oFiles.length;
                for (var nFileId = 0; nFileId < nFiles; nFileId++) {
                    nBytes += oFiles[nFileId].size;
                }

                var sOutput = nBytes + " bytes";
                // optional code for multiples approximation
                for (var aMultiples = ["KiB", "MiB", "GiB", "TiB", "PiB", "EiB", "ZiB", "YiB"], nMultiple = 0, nApprox = nBytes / 1024; nApprox > 1; nApprox /= 1024, nMultiple++) {
                    sOutput = nApprox.toFixed(3) + " " + aMultiples[nMultiple] + " (" + nBytes + " bytes)";
                }
                // end of optional code

                document.getElementById("fileNum").innerHTML = nFiles;
                document.getElementById("fileSize").innerHTML = sOutput;
            }
        </script>

		</div>

		<div th:replace="fragments/footer :: footer"></div>

	

	</div>



</body>
</html>