


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="it"
	xmlns:sec="http://www.springframework.org/security/tags">

<head></head>
<body>
	<header class="site-navbar py-3" role="banner" th:fragment="header">

		<div class="container-fluid">
			<div class="row align-items-center">

				<div class="col-6 col-xl-2" data-aos="fade-down">
					<h1 class="mb-0">
						<a href="/" class="text-black h2 mb-0">SILPH</a>
					</h1>
				</div>
				<div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
					<nav
						class="site-navigation position-relative text-right text-lg-center"
						role="navigation">

						<ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
							<li
								th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"><a
								href="/" th:text="#{message.home}">Home</a></li>

							<li sec:authorize="!isAuthenticated()"
								th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}"><a
								href="/login" th:text="#{message.loginM}">Login</a></li>



							<li class="has-children"><a href="#"
								th:text="#{message.PHOTOGRAPHERS}">Fotografi</a>
								<ul class="dropdown">
									<li sec:authorize="isAuthenticated()"
										th:classappend="${#httpServletRequest.getRequestURI() == '/author/form' ? 'active':''}"><a
										href="/author/form" th:text="#{message.addPhotographers}">Aggiungi
											fotografo</a></li>
									<li
										th:classappend="${#httpServletRequest.getRequestURI() == '/author' ? 'active':''}"><a
										href="/author" th:text="#{message.list}">Elenco</a></li>
								</ul></li>

							<li sec:authorize="isAuthenticated()"
								th:classappend="${#httpServletRequest.getRequestURI() == '/logout' ? 'active':''}"><a
								href="/logout" th:text="#{message.logout}">Logout</a></li>


							<li sec:authorize="isAuthenticated()"
								th:classappend="${#httpServletRequest.getRequestURI() == '/orders' ? 'active':''}"><a
								href="/orders" th:text="#{message.orders}">Ordinazioni</a></li>

							<li class="has-children"><a href="#"
								th:text="#{message.languages}">Lingue</a>
								<ul class="dropdown">
									<li
										th:classappend="${#httpServletRequest.getRequestURI() == '/?lang=it'}"><a
										href="/?lang=it" th:text="#{message.italiano}">Italiano</a></li>
									<li
										th:classappend="${#httpServletRequest.getRequestURI() == '/?lang=en'}"><a
										href="/?lang=en" th:text="#{message.inglese}">Inglese</a></li>

									<!-- <li
										th:classappend="${#httpServletRequest.getRequestURI() == '/?lang=fr'}"><a
										href="/?lang=fr" th:text="#{message.francese}">Francese</a></li> -->
								</ul></li>


						</ul>
					</nav>
				</div>
						<a href="/order" class="cd-cart"> <span>0</span>
						</a>
						<div class="col-6 col-xl-2 text-right" data-aos="fade-down">
							<div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3"
								style="position: relative; top: 3px;">
								<a href="#" class="site-menu-toggle js-menu-toggle text-black"><span
									class="icon-menu h3"></span></a>
							</div>
							<!--  
							<a href="/login" class="cd-cart"> <span>0</span>
							</a>
							<div class="col-6 col-xl-1 text-right" data-aos="fade-down">
								<div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3"
									style="position: relative; top: 3px;">
									<a href="#" class="site-menu-toggle js-menu-toggle text-black"><span
										class="icon-menu h3"></span></a>
								</div>
							</div> -->
						</div>
					</div>
					</div>
	</header>

</body>
</html>
