<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="it">
<head th:replace="fragments/head :: common_header(~{::title},~{})">
<title>Aggiungi fotografo</title>

</head>
<body>

	<div class="site-wrap">

		<div th:replace="~{fragments/site_menu_mobile :: site_menu_mobile}"></div>
		<header th:replace="~{fragments/header :: header}"></header>

		<div class="content" align="center">

						<form autocomplete="off" action="#" th:action="@{/author}"
					th:object="${author}" method="post" class="form-horizontal"
					role="form">
					<h2 th:text="#{message.newPhotographer}">Nuovo fotografo</h2>
					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"
								class="validation-message"></label>
						<input type="text" th:field="*{firstname}" th:placeholder="#{message.name}"
								class="form-control" /> 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"
								class="validation-message"></label>
							<input type="text" th:field="*{lastname}"
								th:placeholder="#{message.lastname}" class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label>
						<input type="email" th:field="*{email}" th:placeholder="#{message.email}"
								class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
						
							<input id="fileInput" type="file" name="uploadingImage">
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block" th:text="#{message.add}">Aggiungi</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
					
				</form>

		</div>

		<div th:replace="fragments/footer :: footer"></div>

	

	</div>



</body>
</html>