<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags" lang="it">
<head th:replace="fragments/head :: common_header(~{::title},~{})">

<title
	th:text="'Fotografo: ' + ${author.firstname} + ' ' + ${author.lastname}"></title>


</head>
<body>

	<div class="site-wrap">

		<div th:replace="~{fragments/site_menu_mobile :: site_menu_mobile}"></div>
		<header th:replace="~{fragments/header :: header}"></header>

		<div class="content" align="center">


			<div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
				<img th:src="${author.avatar}" alt="Image"
					class="img-fluid w-50 rounded-circle mb-4"
					style="border-radius: 50%; width: 200px; height: 200px">
			</div>
			<strong><b th:text="#{message.name}">Nome: </b></strong>
			<p th:text=${author.firstname}></p>
			<strong><b th:text="#{message.lastname}">Cognome: </b></strong>
			<p th:text="${author.lastname}"></p>
			<strong><b th:text="#{message.email}">email: </b></strong>
			<p th:text="${author.email}"></p>

			<a th:href="@{'/author/' + ${author.id} + '/album'}">
				<button type="button" class="btn btn-primary btn-block"
					th:text="#{message.albumList}">Elenco album</button>
			</a> <a sec:authorize="isAuthenticated()"
				th:href="@{'/author/' + ${author.id} + '/album/form'}">
				<button type="button" class="btn btn-primary btn-block"
					th:text="#{message.newAlbum}">Aggiungi nuovo album</button>
			</a>

			<form th:action="@{'/author'+'/'+ ${author.id}}" th:method="delete"
				th:object="${author}">
				<button sec:authorize="isAuthenticated()" type="submit"
					style="background-color: #CD5C5C; border-color: #CD5C5C;"
					class="btn btn-primary btn-block"
					th:text="#{message.removePhotographer}">Rimuovi fotografo</button>
			</form>

			<!--  
			<div class="row">
			
				<div th:each="album : ${albums}" class="card" style="width: 18rem;">
			<div class="card-body">
				<h5>
				<a th:href="@{ '/album/'+ ${album.id} }" th:text="${album.name}">Album name</a>
				</h5>
				<p th:text="${album.description}">Album description</p>
			</div>
		</div>
            -->
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>



</body>
</html>