<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="it">
<head th:replace="fragments/head :: common_header(~{::title},~{})">
<title>Fotografi</title>

</head>
<body>

	<div class="site-wrap">

		<div th:replace="~{fragments/site_menu_mobile :: site_menu_mobile}"></div>
		<header th:replace="~{fragments/header :: header}"></header>

		<div class="content" align="center">
		
		
		<div class="row site-section">
            <div  th:each="author : ${authors}" class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
              <img th:src="${author.avatar}" alt="Image" class="img-fluid w-50 rounded-circle mb-4" style="border-radius:50%; width:200px; height:200px">

              <h2>
              <a th:href="@{'/author/' + ${author.id}}" class="text-black font-weight-light mb-4" th:text="${author.firstname} + ' ' + ${author.lastname}"></a>
              </h2>

                <p>
                <a th:href="@{'/author/' + ${author.id} + '/album'}" class="pl-0 pr-3" th:text="#{message.showAlbum}"></a>
              </p>
            </div>
    </div>
		</div> 

		<div th:replace="fragments/footer :: footer"></div>

	

	</div>

<script>
			$(document).ready(function() {
				$('#tableAuthor').DataTable();
			});
		</script>

</body>
</html>