<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="it">
<head th:replace="fragments/head :: common_header(~{::title},~{})">
<title>SILPH - Home</title>

</head>
<body>

	<div class="site-wrap">

		<div th:replace="~{fragments/site_menu_mobile :: site_menu_mobile}"></div>
		<header th:replace="~{fragments/header :: header}"></header>

		<div class="content" align="center">

			<h1 th:text="#{message.home}"></h1>
			<p th:text="${successMessage}"></p>

			<div class="container-fluid" data-aos="fade" data-aos-delay="500">
				<div class="swiper-container images-carousel">
					<div class="swiper-wrapper">
						<div th:each="photo : ${photos}" class="swiper-slide">
							<div class="image-wrap">
								<div class="image-info">
									<h2 class="mb-3">Foto</h2>
									<a class="btn btn-outline-white py-2 px-4"
										th:onclick="'addPhotoToOrder(' + ${photo.id} + ')'">Add to
										order</a>
								</div>
								<img th:src="${photo.path}" alt="Image">
							</div>
						</div>
					</div>

					<div class="swiper-pagination"></div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
					<div class="swiper-scrollbar"></div>
				</div>
			</div>
			<div>
				<h2 class="site-section-heading text-center"
					th:text="#{message.lastAuthors}"></h2>
			</div>
			<div></div>
			<div class="row site-section">
				<div th:each="author : ${authors}" class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
					<img th:src="${author.avatar}" alt="Image"
						class="img-fluid w-50 rounded-circle mb-4" style="border-radius:50%; width:200px; height:200px">
					<h2 class="text-black font-weight-light mb-4" th:text="${author.firstname} + ' ' + ${author.lastname}">author's name</h2>
					<p>
						<a th:href="@{'/author/' + ${author.id} + '/album'}" class="pl-0 pr-3" th:text="#{message.showAlbum}"></a>
					</p>
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>

	<script>
		$(document).ready(function() {
			$('#topfoto').lightGallery();
		});

		function addPhotoToOrder(id) {
			var url = "/order/photo/" + id;
			$.get(url, function(data) {
				if (data) {
					getCountPhotos();
					alert("Foto aggiunta all'ordine")
				} else {
					alert('Errore');
				}
			});
		}
	</script>
</body>
</html>