
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="it">
<head th:replace="fragments/head :: common_header(~{::title},~{})">
<title>Login</title>

</head>
<body>

	<div class="site-wrap">

		<div th:replace="~{fragments/site_menu_mobile :: site_menu_mobile}"></div>
		<header th:replace="~{fragments/header :: header}"></header>

		<div class="content" align="center">

			<form th:action="@{/login}" method="POST" class="form-signin">
			<h3 class="form-signin-heading" th:text="#{message.welcome}"></h3>
			<br/>
			 
			<input type="text" id="username" name="username"  th:placeholder="#{message.username}"
				class="form-control" value="admin" /> <br/> 
			<input type="password"  th:placeholder="#{message.password}"
				id="password" name="password" class="form-control" value="123456"/> <br /> 
				
			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;" th:text="#{message.invalidLogin}">Username or Password invalid, please verify</p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="#{message.login}"></button>
		</form>

		</div>

		<div th:replace="fragments/footer :: footer"></div>

	</div>


</body>
</html>