<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags" lang="it">
<head th:replace="fragments/head :: common_header(~{::title},~{})">
<title>Album</title>
</head>
<body>

	<div class="site-wrap">

		<div th:replace="~{fragments/site_menu_mobile :: site_menu_mobile}"></div>
		<header th:replace="~{fragments/header :: header}"></header>

		<div class="content" align="center">



			<strong><b th:text="#{message.name}">Nome:</b></strong>
			<p th:text=${album.name}></p>
			<strong><b th:text="#{message.description}">Descrizione:
			</b></strong>
			<p th:text="${album.description}"></p>

			<div sec:authorize="isAuthenticated()" class="form-group">
				<div>
					<a th:href="@{'/album/' + ${album.id} + '/upload'}">
						<button type="button" class="btn btn-primary btn-block"
							th:text="#{message.upload}">Upload foto</button>
					</a>
					<form th:action="@{'/album'+'/'+ ${album.id}}" th:method="delete"
						th:object="${album}">
						<button sec:authorize="isAuthenticated()" type="submit"
							style="background-color: #CD5C5C; border-color: #CD5C5C;"
							class="btn btn-primary btn-block"
							th:text="#{message.removeAlbum}">Rimuovi Album</button>
					</form>
				</div>
			</div>
			</form>
			<div class="row">

				<div th:each="photo : ${photos}" class="col-md-6 col-lg-4">
					<div class="portfolio-item mx-auto" data-toggle="modal"
						th:data-target="'#portfolioModal' + ${photo.id}">
						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div
								class="portfolio-item-caption-content text-center text-white">
								<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
						<img class="img-fluid" th:src="${photo.path}" alt="IMage">


						<div class="portfolio-modal modal fade"
							th:id="'portfolioModal' + ${photo.id}" tabindex="-1"
							role="dialog"
							th:aria-labelledby="'portfolioModal' + ${photo.id}+'Label'"
							aria-hidden="true">
							<div class="modal-dialog modal-xl" role="document">
								<div class="modal-content">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true"> <i class="fas fa-times"></i>
										</span>
									</button>
									<div class="modal-body text-center">
										<div class="container">
											<div class="row justify-content-center">
												<div class="col-lg-8">
													<!-- Portfolio Modal - Title -->
													<h2
														class="portfolio-modal-title text-secondary text-uppercase mb-0"
														th:text=${album.name}>Album Name</h2>
													<!-- Portfolio Modal - Image -->
													<img th:src="${photo.path}" class="img-fluid rounded mb-5"
														alt="">
													<!-- Portfolio Modal - Text -->
													<p class="mb-5" th:text=${album.description}></p>
													<button th:onclick="'addPhotoToOrder(' + ${photo.id} + ')'"
														class="btn btn-primary" data-dismiss="modal">
														<i class="fas fa-times fa-fw" th:text="#{message.add}"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>
		function addPhotoToOrder(id) {
			var url = "/order/photo/" + id;
			$.get(url, function(data) {
				if (data) {
					getCountPhotos();
				} else {
					alert('Errore');
				}
			});
			
		}
		</script>

		<div th:replace="fragments/footer :: footer"></div>



	</div>

	<script>
		$(document).ready(function() {
			$('#lightgallery').lightGallery();
		});

		
		
		function img_find() {
		    var imgs = document.getElementsByTagName("img");
		    for
		}
	</script>
</body>
</html>