<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="it">
<head th:replace="fragments/head :: common_header(~{::title},~{})">
<title>Aggiungi album</title>

</head>
<body>

	<div class="site-wrap">

		<div th:replace="~{fragments/site_menu_mobile :: site_menu_mobile}"></div>
		<header th:replace="~{fragments/header :: header}"></header>

		<div class="content" align="center">

						<form name="photos" enctype="multipart/form-data" autocomplete="off" action="#" th:action="@{'/author/' + ${author.id} + '/album'}"
					th:object="${album}" method="post" class="form-horizontal"
					role="form">
					<h2>Nuovo album</h2>
					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="validation-message"></label>
						<input type="text" th:field="*{name}" th:placeholder="#{message.albumName}"
								class="form-control" /> 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
								class="validation-message"></label>
							<input type="text" th:field="*{description}"
								th:placeholder="#{message.description}" class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
						
							<input id="fileInput" type="file" name="uploadingImage">
						</div>
					</div>
					 
				

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block" th:text="#{message.newAlbum}">Aggiungi album</button>
						</div>
					</div>
					
					
					
				</form>

		</div>

		<div th:replace="fragments/footer :: footer"></div>

	

	</div>



</body>
</html>