<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags" lang="it">
<head th:replace="fragments/head :: common_header(~{::title},~{})">

<title
	th:text=" 'Album: ' + ${author.firstname} + ' ' + ${author.lastname}"></title>

</head>
<body>

	<div class="site-wrap">

		<div th:replace="~{fragments/site_menu_mobile :: site_menu_mobile}"></div>
		<header th:replace="~{fragments/header :: header}"></header>
		<div class="site-section" data-aos="fade">
			<div class="container-fluid">

				<div class="row justify-content-center">
					<div class="col-md-7">
						<div class="row mb-5">
							<div class="col-12 ">
								<h2 class="site-section-heading text-center"
									th:text="#{message.albumList}"></h2>
							</div>
						</div>
						<div class="row">
							<div th:each="album : ${albums}"
								class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5">
								<div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
									<img th:src="${album.albumImage}"
										class="display-3 text-primary mb-4 d-block"
										style="width: 150px; height: 150px"></img>
									<h3 class="text-black h4" th:text="${album.name}"></h3>
									<p th:text="${album.description}"></p>
									<p>
										<strong class="font-weight-bold text-primary"></strong> <a
											th:href="@{ '/album/'+ ${album.id} }"
											th:text="#{message.showAlbum}"></a>
									</p>
								</div>
							</div>
						</div>
						<div sec:authorize="isAuthenticated()" class="form-group" align="center">
							<div class="col-sm-9">
								<a th:href="@{'/author/' + ${author.id} + '/album/form'}">
									<button type="button" class="btn btn-primary btn-block"
										th:text="#{message.newAlbum}">Aggiungi album</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>